@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
  --text-neutral:rgb(212, 212, 212);
  --text-hover:rgb(245, 245, 245);
   --text-neutral-400: rgb(163, 163, 163);
}
body{
  font-family:"Nunito Sans";
 background-color: #171717;
  color: #d4d4d4;
  margin:0;
  padding:0;
  box-sizing: border-box;


}

